<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Ejemplo 1</title>
    
    <link href="../proyecto_Alegre_Leonel/Assets/css/miestilo.css" rel="stylesheet" />

   
</head>
<body>


    <h1> Bienvenidos al Taller de Programacion !!!!</h1>
  <div class="mi-division">
    
    <p>Somos una empresa que se dedica a la venta de relojes de mesa y pared con disenos unicos e innovadores.
        Utilizamos materia prima de calidad. Elaboramos productos a la medida del cliente!
    </p>

    <span style="color: aqua;"> (Y esto es un span dentro de un div)</span>

    <p > Somos reconocidos por la excelencia de nuestros productos.</p>
    
  </div>
    <p class="miclase"> En esta pagina web estaremos ilustrando los productos que tenemos en stock para que se puedan deleitar con las 
        elegancias de nuestros relojes unicos y autenticos para cada tipo de contexto!
        No dudes en contactarnos!
    </p>
    

    <nav class="menu">
        <ul>
            <li><a href="http://www.google.com">Inicio</a></li>
            <li><a href="http://www.Yahoo.com">Sobre Nosotros</a></li>
            <li><a href="http://www.erome.com">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>